absl-py==1.2.0
aiohttp==3.8.1
aiosignal==1.2.0
antlr4-python3-runtime==4.9.3
appnope==0.1.3
arrow==1.2.2
asttokens==2.0.8
astunparse==1.6.3
async-timeout==4.0.2
attrs==19.3.0
Automat==0.8.0
aws-lambda-builders==1.18.0
aws-sam-translator==1.46.0
awscli==1.18.105
backcall==0.2.0
backports.zoneinfo==0.2.1
binaryornot==0.4.4
black==22.3.0
blessings==1.7
blinker==1.4
blis==0.7.8
boto3==1.24.46
botocore==1.17.28
cachetools==5.2.0
catalogue==2.0.8
certifi==2022.9.24
chardet==3.0.4
charset-normalizer==2.1.1
chevron==0.14.0
click==8.1.3
cloud-init==22.2
cloudpickle==2.2.0
colorama==0.4.3
command-not-found==0.3
configobj==5.0.6
constantly==15.1.0
contourpy==1.0.5
cookiecutter==2.1.1
cryptography==2.8
cupshelpers==1.0
cupy-cuda116==10.6.0
cycler==0.11.0
cymem==2.0.6
cytoolz==0.12.0
datasets==2.4.0
dateparser==1.1.1
dbus-python==1.2.16
debugpy==1.6.3
decorator==5.1.1
defer==1.0.6
dill==0.3.5.1
distro==1.4.0
distro-info===0.23ubuntu1
docker==4.2.2
docopt==0.6.2
docutils==0.12
dunamai==1.12.0
ec2-hibinit-agent==1.0.0
en-core-web-sm @ https://github.com/explosion/spacy-models/releases/download/en_core_web_sm-3.4.0/en_core_web_sm-3.4.0-py3-none-any.whl
entrypoints==0.4
et-xmlfile==1.1.0
executing==1.1.0
fairscale==0.4.10
fastrlock==0.8
filelock==3.8.0
Flask==1.1.4
flatbuffers==1.12
fonttools==4.37.3
frozenlist==1.3.1
fsspec==2022.7.1
future==0.18.2
fvcore==0.1.5.post20220512
gast==0.4.0
gitdb==4.0.9
GitPython==3.1.27
google-auth==2.12.0
google-auth-oauthlib==0.4.6
google-pasta==0.2.0
gpustat==0.6.0
grpcio==1.49.1
h5py==3.7.0
httplib2==0.14.0
huggingface-hub==0.10.0
hydra-core==1.2.0
hyperlink==19.0.0
idna==3.4
importlib-metadata==4.12.0
importlib-resources==5.9.0
incremental==16.10.1
install==1.3.5
iopath==0.1.9
ipykernel==6.16.0
ipython==8.5.0
iteration-utilities==0.11.0
itsdangerous==1.1.0
jedi==0.18.1
jellyfish==0.9.0
Jinja2==3.1.2
jinja2-ansible-filters==1.3.2
jinja2-time==0.2.0
jmespath==0.10.0
joblib==1.1.0
jsonpatch==1.22
jsonpickle==1.5.2
jsonpointer==2.0
jsonschema==3.2.0
jupyter-core==4.11.1
jupyter_client==7.3.5
keras==2.9.0
Keras-Preprocessing==1.1.2
keyring==18.0.1
kiwisolver==1.4.4
langcodes==3.3.0
language-selector==0.1
launchpadlib==1.10.13
lazr.restfulclient==0.14.2
lazr.uri==1.0.3
leveldb==0.201
libclang==14.0.6
linecache2==1.0.0
loguru==0.6.0
macaroonbakery==1.3.1
Markdown==3.4.1
MarkupSafe==2.1.1
matplotlib==3.6.0
matplotlib-inline==0.1.6
more-itertools==4.2.0
mpmath==1.2.1
multidict==6.0.2
multiprocess==0.70.13
munch==2.5.0
murmurhash==1.0.7
mypy-extensions==0.4.3
nest-asyncio==1.5.5
netifaces==0.10.4
networkx==2.8.5
nltk==3.7
numpy==1.23.3
nvidia-ml-py3==7.352.0
oauthlib==3.2.1
omegaconf==2.2.3
opencv-python==4.5.5.64
openpyxl==3.0.10
opt-einsum==3.3.0
packaging==21.3
pandas==1.5.0
parso==0.8.3
pathspec==0.10.1
pathy==0.6.2
pbr==5.4.5
pexpect==4.8.0
pickleshare==0.7.5
Pillow==9.2.0
platformdirs==2.5.2
plumbum==1.7.2
portalocker==2.5.1
preshed==3.0.6
prompt-toolkit==3.0.31
protobuf==3.19.5
psutil==5.9.2
ptyprocess==0.7.0
pure-eval==0.2.2
py-cpuinfo==8.0.0
pyarrow==9.0.0
pyasn1==0.4.8
pyasn1-modules==0.2.8
pycairo==1.16.2
pycocotools==2.0.5
pycups==1.9.73
pydantic==1.9.1
pydot==1.4.2
pydotplus==2.0.2
Pygments==2.13.0
PyGObject==3.36.0
PyHamcrest==1.9.0
PyJWT==1.7.1
pymacaroons==0.13.0
pymongo==4.2.0
PyNaCl==1.3.0
pyOpenSSL==19.0.0
pyparsing==3.0.9
pyphen==0.12.0
pyRFC3339==1.1
pyrsistent==0.15.5
pyserial==3.4
pyspellchecker==0.6.3
python-apt==2.0.0+ubuntu0.20.4.7
python-dateutil==2.8.2
python-debian===0.1.36ubuntu1
python-slugify==6.1.2
pytz==2022.2.1
PyYAML==5.3.1
pyyaml-include==1.3
pyzmq==24.0.1
questionary==1.10.0
regex==2022.9.13
requests==2.28.1
requests-oauthlib==1.3.1
requests-unixsocket==0.2.0
responses==0.18.0
roman==2.0.0
rsa==4.5
s3transfer==0.3.7
sacred==0.8.2
scikit-learn==1.1.2
scipy==1.9.0
screen-resolution-extra==0.0.0
seaborn==0.11.2
SecretStorage==2.3.1
serverlessrepo==0.1.10
service-identity==18.1.0
simplejson==3.16.0
six==1.16.0
smart-open==5.2.1
smmap==5.0.0
sos==4.3
spacy==3.4.1
spacy-legacy==3.0.9
spacy-loggers==1.0.3
srsly==2.4.4
ssh-import-id==5.10
stack-data==0.5.1
sympy==1.10.1
systemd-python==234
tabulate==0.8.10
tensorboard==2.10.1
tensorboard-data-server==0.6.1
tensorboard-plugin-wit==1.8.1
tensorflow-estimator==2.9.0
tensorflow-gpu==2.9.1
tensorflow-io-gcs-filesystem==0.26.0
termcolor==2.0.1
testresources==2.0.0
text-unidecode==1.3
textacy==0.12.0
thinc==8.1.0
threadpoolctl==3.1.0
timm==0.6.7
tokenizers==0.12.1
tomli==2.0.1
tomlkit==0.7.2
toolz==0.12.0
torch==1.12.1
torchtext==0.13.1
torchvision==0.13.1
tornado==6.2
tqdm==4.64.1
traceback2==1.4.0
traitlets==5.4.0
transformers==4.22.2
Twisted==18.9.0
typer==0.4.2
typing_extensions==4.3.0
tzlocal==3.0
ubuntu-advantage-tools==27.8
ufw==0.36
unattended-upgrades==0.1
unittest2==1.1.0
urllib3==1.25.11
wadllib==1.3.3
wasabi==0.10.1
watchdog==2.1.2
wcwidth==0.2.5
websocket-client==1.3.3
Werkzeug==2.2.2
wrapt==1.14.1
xkit==0.0.0
xxhash==3.0.0
yacs==0.1.8
yarl==1.8.1
zipp==3.8.1
zope.interface==4.7.1
